* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
}
.layout {
  display: block;
  position: relative;
  background: #fff;
  height: 100vh;
}
/* header */
header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background: rgba(0, 0, 0, 0.7);
}
header .content {
  position: relative;
  display: block;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 5px #000000;
}
header .content h1 {
  font-size: 3em;
  font-weight: normal;
}
header .content h3 {
  font-size: 1.5em;
  font-weight: lighter;
}
.bg {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: url('http://cs627531.vk.me/v627531615/d23c/xqkB4APcT4c.jpg') center no-repeat;
  background-size: cover;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  z-index: -1;
}
